.App {
  max-width: 600px;
}

.heading {
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  text-transform: uppercase;
  color: #F2F2F2;
  text-align: left;
}

.contents--wrapper {
  margin-top: 20px;
}

.container {
  position: relative;
}

.container,
.results {
  background-color: white;
  padding-top: 68px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 68px;
  margin: 16px;
  background: #FFFFFF;
  border-radius: 24px;
}

.heading3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: #1D355D;
}

.andventure {
  position: absolute;
  top: -03%;
  left: 70%;
  right: 0%;
}

.btn--wrapper {
  display: flex;
  flex-direction: column;
}

.btn,
.results-btn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: white;
  border: 2px solid rgba(96, 102, 208, 0.7);
  box-sizing: border-box;
  border-radius: 12px;
  margin-top: 32px;
  color: rgba(96, 102, 208, 0.7);
  text-align: left;
  padding-top: 18px;
  padding-bottom: 18px;
}

.letter {
  width: 50px;
  margin-right: 60px;
  margin-left: 19px;
}

.btn:hover,
.nextBtn {
  background: #F9A826;
  border-color: transparent;
  color: white;
}

.nextBtn--container {
  display: flex;
  justify-content: flex-end;
  margin-block-start: 34px;
}

.btn,
.nextBtn {
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
}

.nextBtn {
  padding-top: 14px;
  padding-left: 36px;
  padding-bottom: 15px;
  padding-right: 36px;
  border-radius: 12px;
}

.results {
  display: flex;
  flex-direction: column;
  align-items: center;

  &--img {
    width: 100%;
  }

  &__heading {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    color: #1D355D;
  }

  &--desc {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #1D355D;
  }

  &--score {
    color: green;
  }

  &__btn {
    background-color: white;
    border-radius: 12px;
    padding-top: 18px;
    padding-left: 61px;
    padding-right: 61px;
    padding-bottom: 17px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #1D355D;
  }
}

.correct,
.incorrect {
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 98%;
  padding-right: 16px;
  color: white;
}

.correct {
  background-color: #81C784;
  background-image: url('../images/checked-icon.svg');
}

.incorrect {
  background-color: #FF8A65;
  background-image: url('../images/close-icon.svg');
}

.footer {
  text-align: center;
  color: white;
}

@media (min-width: 800px) {
  .App {
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
  }

  .andventure {
    top: -14%;
  }

  .footer {
    margin-top: 150px;
  }

}
